

.laatikko {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}


#a {
  background-color: #6F5796
}

#b {
  background-color: #C3647F
}

#c {
  background-color: #FFF768
}

#d {
  background-color: #39AC68
}

#e {
  background-color: #647CB9
}

h1, p, div {
  font-family: Verdana, Georgia;
}
