header, section {
  text-align: center;
}

#sisalto {
  width: 50%;
  background-color: #199fdb;
  margin: auto;
  margin-top: 2%;
  overflow: auto;
  padding: 20px;
}

header h1 {
  font-size: 3em;
}

#numerot {
  width: 80%;
  height: 100px;
  margin-top: 300px;
  margin-left: 0;
  margin-right: 0;
  background-color: yellow;
}



.pallot {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 50px auto;
  margin-right: 30px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #cfffff,
    #cccccc
    );
  box-shadow: 1px 6px 4px 6px #888888;
  float: left;
  font-size: 2em;
  }

.numerot p {
  font-size: 5em;
}
