header {
  width: 20%;
  height: auto;
  margin-left: 50px;
  text-align: center;
  background-color: red;
}

header h1 {
  font-size: 3em;
}

.arvaa {
  width: 20%;
  height: auto;
  margin-left: 50px;
  background-color: blue;
}

section {
  width: 95%;
  height: auto;
  margin-top: 100px;
  margin-left: 100px;
  background-color: yellow;
}

section h2, header {
  margin-left: 50px;
}

.pallot {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 50px auto;
  margin-right: 30px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #cfffff,
    #cccccc
    );
  box-shadow: 3px 8px 6px 8px #888888;
  float: left;
  font-size: 3em;
  }

.numerot p {
  font-size: 5em;
}
