
header {
  height: 100px;
  width: 700px;
  background-color: #EDDDA1;
}

h1 {
  color: #FFF;
  padding: 22px 0 0 20px;
}

nav {
  background-color: #D6C136;
  width: 300px;
  height: 20px;
  margin-left: 300px;
}

nav ul {
  margin: 0 0 0 10px;
}

nav li{
  float: left;
  list-style-type: none;
  padding:0 10px;
}

section {
  width: 400px;
  background-color: "B5C0EB";
  float: left;
}

h2 {
  color: #000;
  padding: 10px 0px 0px 10px;
}

article {
  width: 400px;
  background-color: #B5C0EB;
}

article p {
  padding: 10px;
}

aside {
  width: 200px;
  height: 495px;
  background-color: #8592ED;
  margin-left: 500px;
  margin-top: -522px;
}

h3 {
  color: #fff;
  padding: 10px 0 0 10px;
}

aside article {
  width: 200px;
  background-color: #8592ED;
  color: #fff;
}

footer {
  width: 700px;
  height: 40px;
  background-color: #EDDDA1;
  margin-top: 464px;
}

.foot {
  margin-right: 300px;
}
