
.laatikko {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}


#a {
  background-color: #81D446;
}

#b {
  background-color: #F0EE50;
}

#c {
  background-color: #FC7D00;
}

#d {
  background-color: #FB2E38;
}

h1, p, div {
  font-family: serif, monospace;
}
