/*Hex*/
body {
background-color: rgb(72, 106, 106);
}

header {
  width: 100%;
  background-color: rgb(180, 188, 188);
  height: 100px;
  margin-top:0px;
}

header h1 {
  color: black;
  position: absolute;
  top: 30px;
  left:48%;
  text-align: center;
  margin-right: : 50%;
}

//*
.navbar {
  position: fixed;
}
*/
nav {
    }

nav li {
      list-style: none;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      float:left;
      margin-left: 15px;
}

nav a {
  color: black;
  text-decoration: none;
}

#logo {
  width: 10%;
  display: block;
  margin-right: 25px;
  position: absolute;
  right: 20px;
  top:0px;
}

section {
  width: 100%
  height: auto;
  background-color: ;
  margin-top: 10px;
}


section h2 {
  color: rgb(180, 188, 188);
  text-align: center;
  font-size: 1.8em;
}

.teksti_v {
  padding: 15px;
  border: 1px solid red;
  border-radius: 50px;
  width: 75%;
}

.kuva_v {
  position: relative;
  left:80%;
  margin-top: -11%;
  width:150px;
  height: 200px;
}

.teksti_o {
  width: 75%;
  border: 1px solid red;
  position: relative;
  left: 23%;
  margin-top: -3%;
  padding: 15px;
  border-radius: 50px;
}

.kuva_o {
  position: absolute;
  margin-top: -2%;
  width:150px;
  height: 200px;
}

.teksti_t {
  width: 75%;
  border: 1px solid red;
  padding: 15px;
  border-radius: 50px;
  margin-top: 0.5%;
}

.kuva_t {
  position: absolute;
  left:80%;
  margin-top: -11%;
  width:150px;
  height: 200px;
}

.teksti {
  color: rgb(180, 188, 188);
}

.image {
  height: 150px;
  background-color: #5E5D60;
}

.ideologia {
  background-color: rgb(180, 188, 188);
  border-radius: 50px;
  margin-top: 1%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%
}


/*Roos */

footer {
  background: #CDCDCD;
  width: 100%;
  margin: auto;
}

table {
  background-color: rgb(101, 126, 126);
  text-align: left;
  border: 1px solid black;
  width: 100%
}

.kuvat {
  margin: auto;
  height: 20%;
  width: 20%;
}

#kuva1 {
  float: left;
  padding-left: 10%
}

#kuva2 {
  float: none;
  padding: 0% 10% 0% 10%
}

#kuva3 {
  float: right;
  padding-right: 10%
}
