.container {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 80px 80px 80px;
  background: #777;
  text-align: center;
}



input {
  font-size: 20px;
}

input:hover {
  background: #FFF;
}


h1, h3, p, input {
	font-family: Garamond;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

#vihje {
  font-size: 30px;
}

#uusiPeli {
  font-size: 20px;
}



@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    height: 1500px;
  }
   h1 {
    font-size: 120px;
  }
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 40px;
  }
  input {
    font-size: 30px;
  }
  #vihje {
    font-size: 100px;
  }
  #uusiPeli {
    font-size: 30px;
  }
