body, html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(vesipisara.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid red;
}

h1 {
  text-align: center;
  font-size: 45px;
  padding: 3%;
  color: red;
  }

nav {
  width: 98%;
  height: 20px;
  padding: 1%;
  background-color: ;
}

.hinnasto {
float: left;
margin-left: 40%;
margin-right: 2%;
}

.kaavake {
float: left;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.tekstiLogoTeksti
{
  width: 90%;
  background-color: ;
  height: 400px;
  margin-left: 5%;
}

.laatikko
{
  float: left;
  width: 31%;
  height: 400px;
  padding: 10px;
  text-align: center;
}

.laatikko h2 {
  color: red;
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.laatikko p {
  padding: 4%;
}

.logo {
  width: 100%;
  height: 130px;
  background-color: ;
}

.logo1, .logo2, .logo3 {
  width: 30%;
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

footer {
  text-align: center;
}
